*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/MainBG.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.Netflix_Logo_PMS{
    width: 190px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}
.language-btn img{
    width: 10px;
    margin-left: 10px;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    max-width: 650px;

}
.header-content h3{
    font-weight: 700;
    margin-bottom: 20px;
}
.email-signup{
    background: #fff;
    border-radius: 4px;
    display: flex;
    margin-top: 30px;
    overflow: hidden;
}
.email-signup input{
    
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    padding: 15px 30px;
}
.row__poster{
    width: 360px;
    object-fit: contain;
    max-height: 250px;
    margin-left: 10%;
    background-position: 100px;
    gap: 2px;
    border-radius: 2.5%;
    transition: transform 450ms;
}
.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: space-between;
    align-items: center;
    padding: 20px;   
}
.row__poster:hover{
    transform: scale(1.08);
}
.row__posters::-webkit-scrollbar{
    display: none;
}
/*---features----*/
.row2{
   
    position: absolute;
    width: 100%;
    height: 500px;
}
.contents{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap:15px;
    justify-content: space-between;
    margin-left: 100px;
    padding: 10px 10px;
}
.col1{
    margin-top: 10px;
    background-color:#111c32;
    width:300px;
    height: 300px;
    border-radius: 2.5%;
    text-align: left; 
    padding-top:20px; 
   padding-left:22px;
}
.col2{
    margin-top: 10px;
    background-color:#111c32;
    width:300px;
    height: 300px;
    border-radius: 2.5%;
    padding-top:20px; 
    padding-left:22px;
}
.col3{
    margin-top: 10px;
    background-color:#111c32;
    width:300px;
    height: 300px;
    border-radius: 2.5%;
    padding-top:20px; 
    padding-left:22px;
}
.col4{
    margin-top: 10px;
    background-color:#111c32;
    width:300px;
    height: 300px;
    border-radius: 2.5%;
    padding-top:20px; 
    padding-left:22px;
}
/*---------FAQ--------*/
.faq h3{
    margin-left: 100px;
    margin-top: 400px;
    padding: 10px;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position:relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.05s;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;
}
.faq small{
    margin-left: 525px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
/*------------footer-----------*/
.footer{
    padding: 50px 15% 10px;
    color: #777;
}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer .col{
    display: flex;
    justify-content: space-between;
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display: block;
    text-decoration: none ;
    color: #818080;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .rows{
    align-items: flex-start;
    padding: 10px 0;
}
.footer .language-btn{
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}
.copyright-txt{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.parabox{
    padding-top: 23px;
    padding-left:3px;
    font-size:16px;
}










